<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
	<td><%= pizza.recipe.name %></td>
        <td> Crust type: <%= pizza.crust.crust_type %></td>
        <td><%= link_to 'Cancel', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pizzas.count > 0 %>
	<button>Crear Orden</button>
<% end %>

<br>
